# custom config
name: ${dataset.name}_${model.name}_${arch.name}_${label_ratio}
project: clear
entity: xlv20
sweep_method: random
notes: 

seed: 42
label_ratio: 0.01
min_epochs: 20
max_epochs: 30

semi: True
num_workers: 8
resume: False

alpha:
beta:

default_root_dir: '${oc.env:HOME}/autodl-tmp/checkpoints'
log_dir: '${oc.env:HOME}/tf-logs'
dataset_dir: '${oc.env:HOME}/autodl-tmp/datasets'


defaults:
  - _self_
  - dataset: 'cifar'
  - model: 'resnet'
  - arch: 'pi'