# custom config
name: ${dataset.name}_${model.name}_${arch.name}_${label_ratio}
project: final
entity: xlv20

seed: 42
label_ratio: 0.01
min_epochs: 20
max_epochs: 40

semi: True
num_workers: 8
resume: False

default_root_dir: '/root/autodl-tmp/checkpoints'
log_dir: '/root/tf-logs'
dataset_dir: '/root/autodl-tmp/datasets'


defaults:
  - _self_
  - dataset: '3cls10'
  - model: '3resnet1d'
  - arch: 'tri'